{% extends "house/main.html" %}
{% load static %}
{% block title %}
fetching/paige's blog
{% endblock title %}
{% block link %}
<h1 class="text-center">Welcome to paige's page where we talk about depression and how to help get out of it</h1>
<div class="container">
    <p class="mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nemo magnam, tempore commodi debitis n
        eque eaque atque adipisci recusandae consectetur eum dolorum expedita molestiae. Nulla tenetur, culpa ea eu
        m repudiandae eaque recusandae? Rem explicabo cupiditate nobis deleniti neque, eaque tenetur cumque suscipi
        t quis? Blanditiis placeat sunt facere voluptatum, a suscipit incidunt. Iste ducimus voluptatum ullam molli
    </p>
    <p class="mb-3">
        tia nemo asperiores omnis expedita quasi corrupti, reprehenderit qui libero culpa iure! Nisi cupiditate moll
        itia molestiae nostrum at obcaecati aliquid vel officiis quas magnam dolor provident corrupti, possimus solu
        ta qui explicabo maxime reprehenderit id porro voluptatum a nobis tenetur? Sed unde labore molestias nam eli
        gendi reiciendis, autem omnis eius minima? Dolore impedit debitis earum autem suscipit, sapiente alias tempo
    </p>
    <p class="mb-3">
        ribus eveniet accusamus, labore, corporis ab provident laboriosam dolorem aliquam nostrum fugiat doloribus vel? 
        Rerum veniam, exercitationem ut sint sit beatae porro doloribus modi totam aliquid eum tempora ipsum quibusdam qu
        aerat numquam a earum nostrum quos cupiditate accusantium rem? Sit aspernatur vitae totam aperiam! Officiis si
        nt enim quam. Veritatis iusto doloribus maiores velit distinctio natus minima, doloremque nobis, est pariatur ma
    </p>
    <p class="mb-3">
        gnam, nemo delectus ullam dolor odio! Asperiores, blanditiis recusandae laudantium culpa magnam ipsa voluptatibus v
        ero eveniet? Sunt voluptatem consequuntur doloribus esse delectus dolorum amet fugiat explicabo, dignissimos numqu
        am itaque? Ducimus dolor eius aliquam, officia excepturi nulla dicta eaque maxime earum laborum dignissimos eligend
        i veritatis saepe dolorem, rerum quas ab aut cumque? Quo iure ipsam alias tenetur ullam eligendi accusantium et. Ips
    </p>
    <p class="mb-3">
        a quo optio vel nam, aliquam dolorum dicta necessitatibus quidem nulla sequi veritatis dignissimos inventore in liber
        o eaque voluptates suscipit repellendus quis harum ducimus sunt magnam facere beatae soluta! Id sequi libero, nemo vi
        tae nisi soluta vel doloribus minima. Adipisci animi doloremque blanditiis labore accusantium iste soluta provident e
        os repellat aspernatur enim voluptatum atque, ratione deserunt cum dolores doloribus voluptate commodi ipsa perferend
    </p>
    <p class="mb-3">
        is? Est, soluta. Aliquid cupiditate hic soluta, placeat rem quisquam. Adipisci incidunt omnis obcaecati itaque venia
        m illo numquam libero ducimus tempora sint ex, repellat nisi officiis. Illum obcaecati aspernatur quibusdam voluptatib
        us quo sed perferendis mollitia necessitatibus ipsum recusandae, quisquam delectus temporibus quasi fuga explicabo cu
        mque quae veritatis laboriosam sint nisi eligendi, dignissimos tempore voluptate totam! Voluptates velit inventore so
    </p>
    <p class="mb-3">
        luta non odio incidunt maiores alias veritatis, veniam dolorum iure vero, harum ullam. Vitae numquam obcaecati aut nobi
        s totam impedit nihil in placeat inventore, rem perspiciatis suscipit nam, alias consectetur consequuntur ipsum sequi ap
        eriam adipisci, ut a laborum consequatur architecto! Placeat optio labore assumenda, obcaecati, similique doloremque ha
        rum dignissimos, magnam facere non totam. Cum necessitatibus nihil eius tempore eum. Porro saepe facilis accusantium, d
    </p>
    <p class="mb-3">
        olor repudiandae quia repellat iure quaerat numquam tempore, dolorum voluptatum deserunt obcaecati fuga error voluptat
        es? Quisquam illo odit repudiandae asperiores est saepe repellendus praesentium recusandae iure dolor vitae non nemo max
        ime nostrum, rem, consequatur in modi cumque? Cumque temporibus quis nisi et quaerat consectetur aspernatur odio poss
        imus? Esse, exercitationem magnam, mollitia sequi repudiandae enim, totam quo expedita delectus laudantium voluptates v
    </p>
    <p class="mb-3">
        eniam consequuntur? Voluptates excepturi mollitia earum beatae soluta accusantium nostrum eaque sed incidunt, recusandae, u
        t aut, ducimus unde iusto dolores perspiciatis voluptas. Animi, consequatur?
    </p>
</div>

{% endblock link %}

